# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
dist/

# Environment variables
.env
.env*.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build output
/public/images/**/*.jpg
/public/images/**/*.png

